body{
    margin: 0;
    padding: 0 400px;
}
header {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;  
} 
.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
p {
    white-space: pre-line;
}
section h2{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 100px;
}